/* import font */
@font-face {
    font-family: 'Overlove';
    src: url(fonts/Overlove.otf);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Overlove', sans-serif;
    height: 100vh;
}

.header {
    display: flex;
    gap: 20px;
    position: fixed;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 10px;
    align-items: flex-end;
}

.header .logo img {
    height: 30px;
}

.header-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header-link:hover {
    transform: scale(1.1);
}

.hero {
    padding-top: 40px;
    background-color: #f3dbfa;
    display: flex;
}

.hero-banner {
    margin-top: 80px;
    width: 600px;
    height: 400px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-description {
    font-size: 32px;
    font-weight: 300;
    padding: 0 20px;
    max-width: 800px;
}

.hero-title {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 0px;
}

.hero-subtitle {
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
}

.content {
    background-image: url(images/content-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.capsula-title {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

.capsula-images {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.capsula-images img {
    max-height: 400px !important;
    width: 380px;
}



